/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

Body {
	margin: 0 10%;
}
/*Navigation section*/
nav {
	width: 100%;
	display:flex;			
}

.top {
	width: 90%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

a {
	color: #8C8C8C;
	margin: 0 3%;
	text-decoration: none;
}

a:hover {
	color:#040DBF;
}

.logo {
	margin: 0 auto;
	font-size: 40px;
	display: flex;
}/*Ends Navigation*/
/*Header section begins*/
header {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.innovations {
	text-align: center;
	font-size: 60px;
	width: 49%;
	padding: 35px;
	box-sizing: border-box;	
}

button:hover {	
	background-color:#BFBFBF;
}

section .middle-img {
	width: 100%;
}
/*First-Section class begins*/
.first-section {
	display: flex;
	align-items: center;
}
h2 {
	text-align: left;	
}

div.features {
	margin: 3.5% 2.5%;
	width: 45%;     
}

div.about {
	margin:3.5% 2.5%;
	width: 45%;      
 }

#bottom-section {
	display: flex;
}

div.services {
	width: 28%;
	margin: 3.5% 2.5%;;
 }

 div.product {
	width: 28%;
	margin: 3.5% 2.5%;
 }

div.vision {
	width: 28%;
	margin: 3.5% 2.5%;
}

.contact {
	padding:2px;
	margin: 2px;
}

footer {
	
	text-align: left;
}
/*Beginning of Services.html */

img.services-header-img {
	margin: 3.5% 0;
}
/*Start of Service-info class*/
.services-info {
	width: 100%;
	margin-bottom: 2.5%;
}

.container {
	display: flex;
	flex-direction: row;
}

.digital-design {
	margin: 2.5% 1.5% 2.5% 0;
	padding:2%;
	border: 1px solid black;
	background: #C6D5D2;
}

.ux-ui {
	margin: 2.5% 0 2.5% 1.5%;
	padding:2%;
	border: 1px solid black;
	background: #C6D5D2;	
}

.container2-digital {
    display: flex;
	flex-direction: row;
}

.digital-marketing {
	margin: 2.5% 1.5% 2.5% 0;
	padding:2%;
	border: 1px solid black;
	background: #C6D5D2;	
}

.web-development {
	margin: 2.5% 0 2.5% 1.5%;
	padding:2%;
	border: 1px solid black;
	background: #C6D5D2;	
}

.container3-ios {
	display: flex;
	flex-direction: row;
}

.ios-development {
	margin: 2.5% 1.5% 2.5% 0;
	padding:2%;
	border: 1px solid black;
	background: #C6D5D2;
}

.anddroid-development {
	margin: 2.5% 0 2.5% 1.5%;
	padding:2%;
	border: 1px solid black;
	background: #C6D5D2;
}

.button2 {
	margin: 2% 0;
	padding: 2%;
	width: 35%;
	border-radius: 5%;
}

.button2:hover {
	background-color:#BFBFBF;	
}

.container4-facts-about {
	display: flex;
	flex-direction: row;
}
.facts-about-services {
	align-content: center;
	margin: 2.5%;
}

ul {
	text-align: left;
	line-height: 1.5;
}

.services-info-img {
	margin: 2.5%;
	padding:2%;
}

footer {
	text-align: center;
	margin: 5%;
}
/* Copy and paste your work from yesterday here and start to refactor into flexbox */
@media (max-width: 500px) {
	
}
@media (max-width: 500px) {
	nav { 
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
}

@media (max-width: 500px){
	img.services-header-img {
		width: 90%;
	 	
    }
}

@media (max-width: 500px) {
	.container {
		display: flex;
		flex-direction: column;
	}	
}

@media (max-width: 500px) {
	.container2-digital {
		display: flex;
		flex-direction: column;
	}	
}

@media (max-width: 500px) {
	.container3-ios {
		display: flex;
		flex-direction: column;
	}	
}
